@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: #f1f5f9; /* slate-100 */
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
